<div>

  <h2>Elementy funkcjonalności {{functionalityName}}</h2>
  <h2> Całkowity czas: {{functionalityWorkload}}</h2>
  <p-dropdown [options]="items" [(ngModel)]="itemToAdd" [style]="{'width':'300px'}"
              [filter]="true" filterBy="label" placeholder="Wybierz element">
  </p-dropdown>

  <div style="padding-top: 10px"> Element do dodania:
    {{itemToAdd ? itemToAdd.name : 'brak'}}
    {{itemToAdd ? 'czas pracy' : ''}} {{itemToAdd ? itemToAdd.guiWorkload: ''}}
    <button style="display: inline; margin-left: 20px"(click)="addItem">Dodaj</button>
  </div>

  <ul>
    <ul class="items">
      <li *ngFor="let item of functionalityItems"
          (click)="gotoItemDetail(item)"
          [class.selected]="item === selectedItem">
        <span>{{item.id}}</span>
        <span>{{item.name}}</span>
      </li>
    </ul>
  </ul>
</div>

<router-outlet></router-outlet>
