<div [hidden]="router.url.indexOf('quotations') > -1">
  <h2>Wyceny {{clientName}}</h2>
<ul>
  <ul class="quotations">
    <li *ngFor="let quotation of clientQuotations"
        (click)="gotoQuotationDetails(quotation)"
        [class.selected]="quotation === selectedQuotation">
      <span>{{quotation.name}}</span>
    </li>
  </ul>
</ul>
</div>

<router-outlet></router-outlet>
  <!--<div *ngIf="selectedHero">
    <h2>{{selectedQuotation.name | uppercase}} is my quotation</h2>
    <button (click)="gotoDetail()">View Details</button>
  </div>-->

