<div [hidden]="router.url.indexOf('quotations') > -1">
  <h2>Wyceny {{clientName}}</h2>
  <input [(ngModel)]="newQuotationName" placeholder="nowa wycena klienta">
  <button (click)="addQuotation()">Dodaj</button>
<ul>
  <ul class="quotations">
    <li *ngFor="let quotation of clientQuotations"
        (click)="gotoQuotationDetails(quotation)"
        [class.selected]="quotation === selectedQuotation">
      <span>{{quotation.name}}</span>
    </li>
  </ul>
</ul>
</div>

<router-outlet></router-outlet>


